body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #a2d2ff; */
}

h1 {
    color: #4361ee;
    font-size: 80px;
}

h5 {
    font-size: 25px;
}

p {
    font-size: large;
}

code {
    display: block;
    white-space: pre-wrap   
}

.about h2 {
    color: #8187dc;
    font-size: 40px;
}

.snip {
    max-width: fit-content;
    min-height: fit-content;
    background-color: #d8dcd9;
}

#styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#styled-table th,
#styled-table td {
    padding: 12px 15px;
}

#styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}